* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

p {
    color: #7D7A7B;
    line-height: 1.8;
}

/* common styles starts here */
.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
}

main section {
    padding: 100px 0;
}

.section-header {
    width: 550px;
    margin: 0 auto;
    text-align: center;
}

.section-title {
    font-size: 40px;
    font-weight: 800;
}

.section-desc {
    
    font-size: 18px;
    font-weight: 400;
    padding: 15px 0;
}

img {
    vertical-align: middle;
}

.btn-common {
    background-color: #E55473;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.commot-text {
    color: #E55473; 
}
/* common styles ends here */

/* header styles starts here */
header {
    background-color: #FCEEF1;
    padding-top: 40px;

}
/* header styles ends here */

/* banner styles starts here */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    padding-right: 80px;
}

.banner-content-title {
    font-size: 60px;
}

.banner-content-desc {
    padding: 15px 0;
}

.banner-image img {
    width: 495px;
    /* height: 800px; */
}


/* banner styles ends here */


/* feature section styles starts here */
.feature-container {
    margin-top: 20px;
}

.img-container-1 {
    background-color: #FD7DCA;
}

.img-container-2 {
    background-color: #D9EFF1;
}

.img-container-3 {
    background-color: #E3EBDB;
}

.features {
    width: 350px;
    
    margin: 0 10px;
}

.features-img-container {
    padding: 100px 40px 0 40px;
    border-radius: 50% 50% 0 0;
}

.feature-img {
    width: 280px;
    height: 300px;
}

.feature-caption {
    text-align: center;
    padding-top: 20px;
    color: #000;
    text-decoration: underline;
}
/* feature section styles ends here */

/* services section styles starts here */
.services-container {
    padding: 60px 0;
}

.services {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #F4F4F4;
    padding: 70px 140px;
    text-align: center;
}

.service:not(:last-child) {
    margin-right: 30px;
}

.services-img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}
/* services section styles ends here */

/* offer section styles starts here */
.offer-section {
    background-color: #FEF6F8;
}

.offer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.offer-content {
    width: 50%;
    text-align: center;
}

.offer-content .offer-title {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 15px;
}

.offer-content .offer-desc {
    margin-bottom: 15px;
}

.offer-section img {
    width: 280px;
    height: 380px;
}
/* offer section styles ends here */



